<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country %>
    <%= form.select :country,["Programmable SMS","Programmable Voice","Robocall","Bulk SMS"], {prompt: 'Select a service to get started.'},{ class:'form-select'} %>
  </div>

  <div class="field">
    <%= form.label :state %>
       <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :lga %>
        <%= form.select :lga, {prompt: 'Select a country'},{ class:'form-select'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>