
<p>
  <strong>Full name:</strong>
  <%= @get_access.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @get_access.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @get_access.phne %>
</p>

<p>
  <strong>Work place:</strong>
  <%= @get_access.work_place %>
</p>

<p>
  <strong>Website:</strong>
  <%= @get_access.website %>
</p>

<p>
  <strong>Work vertical:</strong>
  <%= @get_access.work_vertical %>
</p>

<p>
  <strong>Use case:</strong>
  <%= @get_access.use_case %>
</p>

<p>
  <strong>Use region:</strong>
  <%= @get_access.use_region %>
</p>

<p>
  <strong>Monthly:</strong>
  <%= @get_access.monthly %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @get_access.approval %>
</p>

<p>
  <strong>Early access:</strong>
  <%= @get_access.early_access %>
</p>

<%= link_to 'Edit', edit_get_access_path(@get_access) %> |
<%= link_to 'Back', get_accesses_path %>
